// logo
$color-green:        #3ddb93;

// system colors
$color-green-light:        #9eedc9;
$color-green-xlight:       #eafbee;
$color-blue-dark:          #004693;
$color-blue-medium:        #0091ff;
$color-blue-light:         #76d5ff;
$color-blue-lighter:       #ecf9ff;
$color-coral:              #ff6161;
$color-orange:             #ff863b;
$color-yellow:             #ffd324;

// dark supplements
$color-indigo:             #2c0093;
$color-green-dark:         #009389;

// neutral colors
$color-dark-aubergine:     #493940;
$color-dark-grey:          #404345;
$color-fuscous-grey:       #525050;
$color-mid-tone-grey:      #74787a;
$color-grey-tint-3:        #8d9194;
$color-grey-tint-2:        #d1d6da;
$color-grey-tint-1:        #f1f5f8;
$color-grey-tint-4:        #f5f5f5;
$color-grey-tint-5:        #e6e6e6;

// base colors
$color-black:              #000000;
$color-white:              #ffffff;

// icon colors
$icon-disclosure-close:    $color-grey-tint-2;

// menu colors
$color-menu-text:          #5b5f66;
$color-menu-bg:            $color-grey-tint-4;

// text colors
$color-body-text:          $color-dark-grey;
