$mq-breakpoints: (
	smaller:              320px,
	small:                480px,
	medium:               768px,
	large:                1020px,
	wide:                 1300px,

	// tweakpoints
	wp-mobile-admin-bar:  600px,
	wp-desktop-admin-bar: 784px,
	social:               1100px,
);
